@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #3574E3;
$color-mint: #090F4F;
$color-blue: #BACBF4;
$color-square-gradient: linear-gradient(4deg, rgba(8, 122, 140,.29) 55%, rgba(0, 200, 71, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(8, 122, 140,.29) 55%, rgba(0, 200, 71, 0.08) 100%);
